<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ websitetitle | trans }}{% block title %} - {{ page.title }}{% endblock %}</title>
        {% if page is defined %}
            {{ render_seo_metadata_for(page) }}
        {% endif %}
        <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}" type="image/x-icon">
        {% include 'KadekeWebsiteBundle:Layout:_css.html.twig' %}

        {% include 'KadekeWebsiteBundle:Layout:_js_header.html.twig' %}

    </head>
    <body id="top">

        <div class="container">
            <header class="jumbotron subhead" id="overview">
                <div class="row">
                    <div class="span8">
                        {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
                        <h1><a href="{{ path('_slug', { 'url': homepagePageNode.url }) }}">Kadeke</a></h1>
                        <p class="lead">The this's and thatses of a web developer</p>
                    </div>
                </div>
                <div class="subnav">
                    <ul class="nav nav-pills">
                        {% if nodemenu is defined %}
                            {% set activeSubnode = nodemenu.getActiveForDepth(1) %}
                            {% for node in activeSubnode.children %}
                                <li {% if(node.active) %} class="active" {% endif %}>
                                    <a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </header>

            <section id="content">
                {% block content %}{% endblock %}
            </section>

            <hr />
            <footer id="footer">
                {% block footer %}
                    {% block footer_to_top %}
                        <p class="pull-right">
                            <a href="#top">Back to top</a>
                        </p>
                    {% endblock %}
                    <div class="links">
                    </div>

                    <div class="disclaimer">
                        Built with <a href="http://bundles.kunstmaan.be"target="_blank">Kunstmaan Bundles</a> | Theme by <a href="http://bootswatch.com/readable/" target="_blank">Bootswatch</a>
                    </div>
                {% endblock %}
            </footer>
        </div>


        {% include 'KadekeWebsiteBundle:Layout:_js_footer.html.twig' %}

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

        <script>
            var _gaq=[['_setAccount','UA-38620620-1'],['_trackPageview']];
            (function(d,t){
                var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)
            }(document,'script'));
        </script>

    </body>
</html>
