{% extends 'KadekeWebsiteBundle:Page:layout.html.twig' %}
{% block content %}
    <h2>{{ page.title }}</h2>
    <h4 class="date">{{ page.getDate() | date('dS F Y - H:i') }} {% if page.tags.count > 0 %}{% for tag in page.tags %}&nbsp;<span class="label label-inverse">{{ tag.name }}</span>{% endfor %}{% endif %}</h4>

    {{ render_pageparts(page, 'main') }}

    <div class="social-button-container">
        <div class="social-button tw"><a href="https://twitter.com/share" class="twitter-share-button" data-via="MopsterKD">Tweet</a></div>
        <div class="social-button li"><script type="IN/Share" data-counter="right" data-showzero="true"></script></div>
        <div class="social-button fb"><div class="fb-like" data-href="{{ url('_slug', {'url' : nodetranslation.url }) }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div></div>
    </div>

    <hr />

    {% block comments %}
        <a name="comments"></a>
        <div class="comments">
            <h3>Comments</h3>
            <div class="well">
                {% render url('kadekeblogbundle_comments', {'blogEntry': page.id}) %}
                {% block commentform %}
                    <hr/>
                    <a name="addcomment"></a>
                    <h4>Add Comment</h4>
                    {% if success is not defined %}
                        {% form_theme form 'KadekeWebsiteBundle:Form:fields.html.twig' %}
                        <form action="{{ path('_slug', {'url' : nodetranslation.url }) }}#addcomment" method="post" {{ form_enctype(form) }}>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="span4">
                                        {{ form_row(form.title) }}
                                        {{ form_row(form.text) }}
                                    </div>
                                    <div class="span4">
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.website) }}
                                    </div>
                                    <div class="span4">

                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form) }}
                            <p>
                                <input type="submit" value="Submit">
                            </p>
                        </form>
                    {% else %}
                        <p>You comment has been posted!</p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}